.navbar-collapse {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    margin-left: 55%;
    padding-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown-menu-dark {
    background-color: #004AAD;
}

@media (max-width: 991.20px) {

    .navbar-collapse {
        padding-bottom: 2%;
        margin-right: 20%;
    }

    .dropdown-menu-dark {
        margin-bottom: 1rem;
        margin-right: 2rem;
    }
}