.navbar-collapse {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    margin-left: 55%;
    padding-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar {
    position: relative;
}

.navbar-nav {
    display: flex;
    flex-direction: row !important;
    gap: 15px;
    margin-right: 5%;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Adjust the height of the band as needed */
    background-color: #004AAD; /* The color of the band */
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
    background-color: '#B5CAE6';
}

.dropdown-item {
    color: '#004aad';
    font-weight: bold;
}